<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm/Sửa Trang Phục</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container my-3">
    <a href="/.." class="btn btn-secondary">Quay lại</a>
    <h2>Thêm/Sửa Trang Phục</h2>
    <form method="post" th:action="${clothItem != null ? 'edit' : 'add'}">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Tên</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" th:value="${clothItem != null ? clothItem.name : ''}">
            </div>
        </div>
        <div class="form-group row">
            <label for="seller" class="col-sm-2 col-form-label">Người bán</label>
            <div class="col-sm-10">
                <select class="form-control" id="seller" th:field="*{sellers}">
                    <option th:each="seller: ${sellers}"
                    th:value="${{seller.id}}"
                    th:text="${seller.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="image" class="col-sm-2 col-form-label">Hình ảnh</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="image" th:value="${clothItem != null ? clothItem.previewImage : ''}">
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">Giá tiền</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="price" th:value="${clothItem != null ? clothItem.price : ''}">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Mô tả</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" rows="3"
                          placeholder="nhập mô tả sản phẩm: xuất xứ, cỡ size, hướng dẫn sử dụng"
                          th:text="${clothItem != null ? clothItem.description : ''}"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Thêm sản phẩm mới</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>