<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý nhà cung cấp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container my-3">
    <a class="btn btn-secondary btn-back">Quay lại</a>
    <h2 class="text-center mt-3">Quản lý nhà cung cấp</h2>

    <div class="row mt-3">
        <div class="col-md-10">
            <p th:text="'Kết quả: 1-10 trên 78 kết quả'"></p>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>Tên người bán</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Ghi chú</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seller : ${sellers}">
            <td th:text="${seller.id}"></td>
            <td th:text="${seller.name}"></td>
            <td th:text="${seller.email}"></td>
            <td th:text="${seller.telephone}"></td>
            <td th:text="${seller.address}"></td>
            <td th:text="${seller.note}"></td>
            <td><a class="btn btn-primary btn-sm" th:href="@{/seller/edit(id=${seller.id})}">Sửa</a></td>
            <td><a class="btn btn-danger btn-sm">Xóa</a></td>
            <td><a class="btn btn-info btn-sm" th:href="@{/seller/detail(id=${seller.id})}">Xem</a></td>
        </tr>
        </tbody>
    </table>
    <div class="col-md-2 float-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <a class="btn btn-primary float-right" th:href="@{/seller/new}">Thêm sản phẩm mới</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/app.js"></script>
</body>
</html>