<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container my-3">
    <h1 class="text-center">Đăng Nhập</h1>
    <form id="loginForm" method="post" th:action="@{/login}" th:object="${loginForm}">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:class="text-danger" th:errors="*{email}"></p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:class="text-danger" th:errors="*{password}"></p>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
    </form>
    <h5>Debug only:</h5>
    <a id="loginAsUser" class="btn btn-info">Login bằng acc Quản kho</a>
    <a id="loginAsAdmin" class="btn btn-info">Login bằng acc Quản lý cấp cao</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/app.js"></script>
<script src="debug_login.js"></script>
</body>
</html>