<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nhập hàng</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container my-3">
    <a th:href="@{|${'../'}|}" class="btn btn-secondary">Quay lại</a>
    <h2 class="text-center">Nhập hàng</h2>
    <form action="request-product" method="get" class="mt-4">
        <div class="form-group row">
            <label for="supplier" class="col-sm-2 col-form-label">Chọn nhà cung cấp: </label>
            <div class="col-sm-4">
                <select class="form-control" id="supplier" th:name="sellerId">
                    <option value="-1">Chưa chọn</option>
                    <option th:each="seller : ${sellers}" th:value="${seller.id}" th:text="${seller.name}"
                            th:selected="${#strings.equals(seller.id, param['sellerId'])}"></option>
                </select>
                <span th:if="${errorMessage != null}" th:text="${errorMessage}" class="error text-danger"></span>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">Chọn</button>
            </div>
        </div>
    </form>
    <form action="request-product" method="post" class="mt-8">
        <input th:name="sellerId" th:value="${param['sellerId']}" type="hidden" name="sellerId">
        <table class="table table-bordered col-12 justify-content-center">
            <tr>
                <th>Tên món hàng</th>
                <th>Số lượng</th>
            </tr>
            <tr th:each="entry, start: ${cart}">
                <td th:text="${entry.first}"></td>
                <td th:text="${entry.second}"></td>
            </tr>
            <tr th:if="${cart == null}">
                <td colspan="2" class="text-center">Chưa có sản phẩm nào</td>
            </tr>
        </table>
        <a class="btn btn-success row"
           id="addMoreProductButton"
           th:if="${param['sellerId'] != null}"
           th:href="@{/inventory/request-product-more}">Thêm 1 sản phẩm</a>
        <a href="#" th:if="${param['sellerId'] != null}" class="text-danger row">Nhấn vào đây để ký điện tử *</a>
        <br>
        <button type="submit" class="float-right btn btn-primary" th:disabled="${param['sellerId'] == null}">Gửi yêu cầu nhập hàng</button>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/app.js"></script>
</html>